.advisoryManagerHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-bottom: 2px solid black;
  align-items: start;
  width: 100%;
}

.advisoryManagerHeading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 30px;
}

.advisoryManagerSection {
  padding: 10px;
  padding-top: 20px;
  font-size: 14px;
  width: 100%;
  height: auto;
  color: #2c3e50;
}

.advisoryManagerCategoryPlatform {
  width: 95%;
  margin: auto;
  margin-top: 60px;
  font-size: 20px;
  color: white;
  height: auto;
  background-color: rgba(79, 193, 93, 100);
  border-radius: 10px;
  border-bottom: 8px solid rgba(79,193,93,100);
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: all 0.25s ease;
}

.advisoryManagerCategoryPlatform:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px -10px rgba(23, 171, 45, 0.6);
  padding-left: 20px;
  background-color: rgb(59 148 70);
}

.advisoryManagerSubcategoryPlatform {
  width: 95%;
  margin: auto;
  font-size: 15px;
  color: black;
  height: auto;
  background-color: lightgray;
  border-top: 2px solid grey;
  border-radius: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: all 0.25s ease;
}

.advisoryManagerSubcategoryPlatform:hover {
  transform: translateY(-5px);
  padding-left: 20px;
  box-shadow: 0 10px 20px -10px rgba(159, 160, 159, 0.6);
  background-color: darkgrey;
}

.successBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #4fc15d;
  transition: all 0.25s ease;
}

.successBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(23, 171, 45, 0.6);
  transform: translateY(-5px);
  background: #4fc15d;
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}

.advisoryManagerInput {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #4fc15d;
  margin-bottom: 15px;
  box-sizing: border-box;
  margin-top: 10px;
}

.advisoryManagerActions {
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
  height: 75px;
}

.advisoryManagerActionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}