.errorComponent {
    min-width: 320px;
    padding: 20px;
    margin-top: 20px;
    color: #f44336;
    font-weight: bold;
    text-align: center; 
    background-color: rgba(244, 67, 54, 0.25);
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.08);
    border-bottom: 8px solid rgba(244, 67, 54, 1);
    border-top: 8px solid rgba(244, 67, 54, 1);
}

.successComponent {
    min-width: 320px;
    padding: 20px;
    margin-top: 20px;
    color: #4fc15d;
    font-weight: bold;
    text-align: center;
    background-color: rgba(79,193,93,0.25);
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.08);
    border-bottom: 8px solid rgba(79,193,93,100);
    border-top: 8px solid rgba(79,193,93,100);
}